# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions>=1.24.0
fastapi>=0.122.1
google-generativeai>=0.8.5
lancedb>=0.25.3
pydantic-ai>=1.25.1
uvicorn>=0.38.0
