name: Build and deploy Python project to Azure Function App
on:
  push:
    branches:
      - main
 workflow_dispatch:
env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: "." 
  PYTHON_VERSION: "3.13"

jobs:
  build:
  runs-on: ubuntu-latest
  permissions:
    contents: read

  steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: "requirements.txt"

    - name: Setup Python version # GitHub caches the Python versions
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install dependencies
      run: |
        mkdir -p .python_packages/lib/site-packages
        uv pip install - target=".python_packages/lib/site-packages" -r requirements.txt

    - name: Zip artifact for deployment
      run: |
        zip -r release.zip . -x "*.md" local.settings.json "__*" ".*"
        zip -r release.zip .python_packages

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: release.zip

deploy:
  runs-on: ubuntu-latest
  needs: build
  
  steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: python-app

    - name: Unzip artifact for deployment
      run: unzip release.zip

    - name: "Deploy to Azure Functions"
      uses: Azure/functions-action@v1
      id: deploy-to-function
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        slot-name: "Production"
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_3BB308DB368F4B4D92FE9C264B5B250F }}
        sku: "flexconsumption"